*{
    padding: 0;
    margin: 0;
}

h3{
    color: cadetblue;
    font-size: 3rem;
    flex-grow: 3;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    align-items: stretch;
}

aside{
    font-size: 1.3em;
    padding-top: 32px;
    text-align: center;
}

p{
    color: red;
    font-size: 1.5em;
    font-weight: lighter;
    align-items: center;

}