.third {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px;
  padding: 40px;
}

.third h1 {
  color: white;
  font-size: 50px;
  padding-bottom: 10px;
}
.leftThird {
  flex: 4;
  padding-right: 200px;
}
.rightThird {
  padding-left: 200px;
  flex: 4;
  display: flex;
}

.imgSrc {
  width: 100%;
  height: 10v;
}

p.smart {
  font-size: 30px;
}
